<!doctype html>

<!--
  ___                 ___           ___           ___
       /  /\                     /__/\         /  /\         /  /\
      /  /:/_                    \  \:\       /  /:/        /  /::\
     /  /:/ /\  ___     ___       \  \:\     /  /:/        /  /:/\:\
    /  /:/ /:/ /__/\   /  /\  ___  \  \:\   /  /:/  ___   /  /:/  \:\
   /__/:/ /:/  \  \:\ /  /:/ /__/\  \__\:\ /__/:/  /  /\ /__/:/ \__\:\
   \  \:\/:/    \  \:\  /:/  \  \:\ /  /:/ \  \:\ /  /:/ \  \:\ /  /:/
    \  \::/      \  \:\/:/    \  \:\  /:/   \  \:\  /:/   \  \:\  /:/
     \  \:\       \  \::/      \  \:\/:/     \  \:\/:/     \  \:\/:/
      \  \:\       \__\/        \  \::/       \  \::/       \  \::/
       \__\/                     \__\/         \__\/         \__\/

  --------------------------------------------------------------------
  #  Stiletto v2.2.1
  #  Documentation: https://fluorescent.co/help/stiletto/
  #  Purchase: https://themes.shopify.com/themes/stiletto/
  #  A product by Fluorescent: https://fluorescent.co/
  --------------------------------------------------------------------
-->

<html class="no-js" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px;">
  <head>
    <!-- Hotjar Tracking Code for Elis Moda Roma -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:3677272,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% render 'meta-description' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}:
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>

    {% render 'social-meta-tags' %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {%- render 'theme-globals' -%}

    {{ content_for_header }}
  </head>

  <body class="template-{{ request.page_type | handle }}">
    <div class="page">
      {% if settings.enable_page_transitions %}
        {% render 'page-transition-overlay' %}
      {% endif %}

      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>

      {% sections 'header-group' %}
      {% sections 'overlay-group' %}

      {%- if settings.enable_quick_search -%}
        {% render 'quick-search' %}
      {%- endif -%}

      <div class="header-overlay" data-header-overlay>
        <div class="header-overlay__inner"></div>
      </div>

      <main id="main" class="main">
        {{ content_for_layout }}
      </main>

      {% sections 'footer-group' %}

      {% render 'store-availability-drawer' %}
      {% render 'quick-view-modal' %}
      {% render 'modal' %}
      {% render 'back-to-top' %}
    </div>

    {{ '//www.youtube.com/iframe_api' | script_tag }}
    {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
    
    <script type="text/javascript">
      window.hoculus = window.hoculus || {};
      hoculus.whatsapp = {
        selectors: {
          wrapper: "#whatsapp-button",
          dataset: "whatsappSettings"
        },
        number: '{{ settings.hoculus_whatsapp_number | escape }}',
        header: '{{ settings.hoculus_whatsapp_header | escape }}',
        message_text: '{{ settings.hoculus_whatsapp_message_text | escape }}',
        fake_text: '{{ settings.hoculus_whatsapp_fake_text | escape }}',
        popup_open_time: '{{ settings.hoculus_whatsapp_popup_open | escape }}',
        color: '{{ settings.hoculus_whatsapp_color | escape }}'
        }
        hoculus.themeData = {
        floatingWppJs: "{{ 'hoculus-floating-wpp.min.js' | asset_url }}",
        floatingWppCss: "{{ 'hoculus-floating-wpp.min.css' | asset_url }}"
        }
        hoculus.assets = {
        js: {
          jquery: "{{ 'jquery-3.3.1.min.js' | asset_url }}"
        }
      };
    </script>
    <script type="text/javascript" src="{{ 'hoculus.js' | asset_url }}" defer></script>
    {% render 'hoculus-whatsapp-widget' %}
  </body>
  {{ 'theme-deferred.css' | asset_url | stylesheet_tag }}
</html>
